*{
    top: 0;
    left:0;
    box-sizing: border-box;
}


.reset_form_dangnhap{
    text-align: center;
    justify-content: center;
    /* margin:auto; */
   
}
.reset_logo{
    width:200px;
    height: 100px;
}
.reset_big_font{
    width:500px;
    font-size: 40px;
    margin-left: 370px; 
}
.reset_box{
    margin-top: 20px;
    width:350px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 445px ;
    /* margin: auto; */
}

.reset_box_email_password{
    text-align: left;
    padding: 20px;
}
.reset_box_email{
    height: 40px;
    width: 300px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
}
.reset_btn_login{
 
 background-color: brown;
 
 cursor: pointer;
}
.reset_box_creat_account{
    height: 40px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid black;
   margin-top: 20px;
   font-size: 19px;
   margin-right: 25px;

}
.reset_forget_passwold{
    padding-top: 5px;
    padding-left: 120px;
}
.reset_forget_passwold a{
 text-decoration: none;
 color: black;
}

/* .email-address{
   
} */
#err-resetEmail{
    color: red;
}